body {
    font-family: 'Roboto';
    min-height: 80vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.reading-section {
    margin-top: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sentence:hover {
    background-color: #e9ecef;
    cursor: pointer;
}
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s;
}

.spinner-overlay.hidden {
    visibility: hidden;
    opacity: 0;
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.2);
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#text-container {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f9f9f9;
}

.sentence.highlighted {
    background-color: rgba(1,1,1,0.05);/* Yellow background */
    color: #000; /* Black text */
    border-radius: 5px;
    padding: 2px 4px;
    font-size: x-large;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Top Bar Gradient */
#top-bar {
    background: linear-gradient(90deg, #9769F6, #06CBD6);
}

/* SweetAlert2 Custom Theme */
.swal2-confirm {
    background-color: #00BAAC !important;
    color: #fff;
}

.swal2-cancel {
    background-color: #9769F6 !important;
    color: #fff;
}

.cefr-legend {
    display: flex;
}

.cefr-legend p {
    padding-left: 10px;
    padding-right: 10px;
}

/* Individual legend items */
.legend-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* CEFR Level Colors */
.legend-box.a1 { background-color: rgba(144, 238, 144, 0.5); }
.legend-box.a2 { background-color: rgba(0, 255, 0, 0.05); }
.legend-box.b1 { background-color: rgba(173, 216, 230, 0.5); }
.legend-box.b2 { background-color: rgba(0, 0, 255, 0.5); }
.legend-box.c1 { background-color: rgba(255, 165, 0, 0.5); }
.legend-box.c2 { background-color: rgba(255, 0, 0, 0.5); }